{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grocery Table</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/gshop/grocery_table.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-info">
        <a class="navbar-brand" href="#"><img src="{% static 'images/gshop_admin/gshop_logo.png' %}" width="120px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'admin_home' %}"><span class="fa fa-dashboard"></span> Dashboard</a>
            </li>
            <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                <span class="fa fa-eye"></span> View
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'user_table' %}"><span class="fa fa-user"></span> Users</a>
                <a class="dropdown-item" href="{% url 'grocery_table' %}"><span class="fa fa-cubes"></span> Grocery</a>
                <a class="dropdown-item" href="{% url 'medicine_table' %}"><span class="fa fa-medkit"></span> Medicine</a>
                <a class="dropdown-item" href="#"><span class="fa fa-gift"></span> Orders</a>
                <a class="dropdown-item" href="{% url 'contact_table' %}"><span class="fa fa-phone"></span> Info Details</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href=""><span class="fa fa-bell"></span> Notifications</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <a class="btn btn-dark my-2 my-sm-0" type="submit" href="{% url 'admin_logout' %}">Logout</a>
          </form>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-lg-12">
                <h1 class="heading">Grocery Details</h1>
                <hr>
            </div>

            <div class="col-xs-2 col-lg-2"></div>

            <div class="col-xs-8 col-lg-8">
                <table border="2">
                    <tr class="table table-success">
                        <th>Product Id</th>
                        <th>Product Name</th>
                        <th>Product Description</th>
                        <th>Product Price</th>
                        <th>Product Image</th>
                        <th>Add</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>

                    {% for i in grocery %}

                    <tr>
                        <td>{{i.id}}</td>
                        <td>{{i.name}}</td>
                        <td>{{i.description}}</td>
                        <td>{{i.price}}</td>
                        <td><img src="/media/{{i.image}}" width="100px"></td>
                        <td><a href="{% url 'grocery_add' %}" class="btn btn-primary">Add</a></td>
                        <td><a href="{% url 'grocery_update' i.id %}" class="btn btn-success">Update</a></td>
                        <td><a href="{% url 'grocery_delete' i.id %}" class="btn btn-danger">Delete</a></td>
                    </tr>

                    {% endfor %}

                </table>
            </div>

            <div class="col-xs-2 col-lg-2"></div>
        </div>
    </div>

    <div class="footer">
        <div class="row">
            <div class="col-xs-2 col-lg-2">
                <img src="{% static 'images/gshop_admin/gshop_logo.png' %}" class="logo">
            </div>

            <div class="col-xs-2 col-lg-2">
                <h6 class="footer-heading">ABOUT</h6>
                <a href="" class="footer-link">Contact Us</a><br>
                <a href="" class="footer-link">About Us</a><br>
                <a href="" class="footer-link">Careers</a><br>
                <a href="" class="footer-link">G-shop Stories</a><br>
            </div>

            <div class="col-xs-2 col-lg-2">
                <h6 class="footer-heading">HELP</h6>
                <a href="" class="footer-link">Payments</a><br>
                <a href="" class="footer-link">FAQ</a><br>
            </div>

            <div class="col-xs-2 col-lg-2">
                <h6 class="footer-heading">POLICY</h6>
                <a href="" class="footer-link">Terms Of Use</a><br>
                <a href="" class="footer-link">Security</a><br>
                <a href="" class="footer-link">Privacy</a><br>
                <a href="" class="footer-link">Sitemap</a><br>
            </div>

            <div class="col-xs-2 col-lg-2">
                <h6 class="footer-heading">Social Media</h6>
                <a href="" class="footer-link">Instagram</a><br>
                <a href="" class="footer-link">Twitter</a><br>
                <a href="" class="footer-link">Youtube</a><br>
            </div>
            
            

            <div class="col-xs-2 col-lg-2">
                <h6 class="footer-heading">Registered Office Address</h6>
                <label class="footer-link">G-Shop Private Limited</label><br>
                <label class="footer-link">CM Building</label><br>
                <label class="footer-link">CM Tech Village</label><br>
                <label class="footer-link">Pulvetta Road, Allum Kunnu</label><br>
                <label class="footer-link">Karuvarakundu, 676523</label><br>
                <label class="footer-link">Malappuram, Kerala</label><br>
            </div>

            <div class="col-xs-12 col-lg-12">
                <hr color="grey">
                <center>
                <a href="" class="footer-link"><span class="fa fa-suitcase" style="color: gold;"></span> Become A User</a>
                <label class="footer-link"><span class="fa fa-copyright"></span> 2019-2022 Gshop.com</label>
                <a href="" class="footer-link"> <img src="{% static 'images/gshop_admin/payment.svg' %}" width="200px"></a><br><br>
                </center>
            </div>

        </div>
    </div>
    




    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</body>
</html>

