{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Now</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/gshop/order_now.css' %}">
    <script src="{% static 'javascript/gshop/order_now.js' %}"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-lg-12">
                <img src="{% static 'images/gshop_admin/gshop_logo.png' %}" class="logo">
            </div>

            <div class="col-xs-3 col-lg-3"></div>

            <div class="col-xs-6 col-lg-6">
                <form method="post">
                    {% csrf_token %}
                    <h3 class="heading">Product Details</h3>
                    <select name="product_name" id="product_name" class="form-control">
                        <option value="" value="">Product Name</option>
                        <option value="ash gourd">Ash Gourd</option>
                        <option value="broccoli">Broccoli</option>
                        <option value="beetroot">Beetroot</option>
                        <option value="bottle gourd">Bottle Gourd</option>
                        <option value="bitter gourd">Bitter Gourd</option>
                        <option value="beans">Beans</option>
                        <option value="brinjal">Brinjal</option>
                        <option value="carrot">Carrot</option>
                        <option value="paracetamol">Paracetamol</option>
                    </select>


                    
                    <select name="product_quantity" id="product_quantity" class="form-control">
                        <option value="" value="">Product Quantity</option>
                        <option value="100gm">100 Gm</option>
                        <option value="200gm">200 Gm</option>
                        <option value="300gm">300 Gm</option>
                        <option value="400gm">400 Gm</option>
                        <option value="500gm">500 Gm</option>
                        <option value="600gm">600 Gm</option>
                        <option value="700gm">700 Gm</option>
                        <option value="800gm">800 Gm</option>
                        <option value="900gm">900 Gm</option>
                        <option value="1kg">1 Kg</option>
                        <option value="2kg">2 Kg</option>
                        <option value="3kg">3 Kg</option>
                        <option value="4kg">4 Kg</option>
                        <option value="5kg">5 Kg</option>
                        <option value="6kg">6 Kg</option>
                        <option value="7kg">7 Kg</option>
                        <option value="8kg">8 Kg</option>
                        <option value="9kg">9 Kg</option>
                        <option value="10kg">10 Kg</option>
                        <option value="1l">1 L</option>
                        <option value="2l">2 L</option>
                        <option value="3l">3 L</option>
                        <option value="4l">4 L</option>
                        <option value="5l">5 L</option>
                        <option value="6l">6 L</option>
                        <option value="7l">7 L</option>
                        <option value="8l">8 L</option>
                        <option value="9l">9 L</option>
                        <option value="10l">10 L</option>
                        <option value="1pc">1 Pc</option>
                        <option value="2pc">2 Pc</option>
                        <option value="3pc">3 Pc</option>
                        <option value="4pc">4 Pc</option>
                        <option value="5pc">5 Pc</option>
                    </select>

                    <button class="btn btn-primary" onclick="return price()">Payable Amount</button>
                   
                    <label id="price_error"></label> 

                    <h5 class="heading2">Delivery Details</h5>
                    <input type="text" class="form-control" name="name" id="name" placeholder="Name">
                    <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone Number">
                    <input type="text" class="form-control" name="address" id="address" placeholder="Address">
                    <button type="submit" class="btn btn-success">Order Now</button>
                </form>
            </div>

            <div class="col-xs-3 col-lg-3"></div>

        </div>
    </div>
    






    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</body>
</html>